:host {
    text-align: center;
    display: grid;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    text-align: left;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
        display: flex;
        flex-direction: column;
    }

    > div:first-child {
        gap: 2rem;
    }

    > div:nth-child(2) {
        gap: 1rem;
    }
}